.jumbotron--jumbo-hero {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px; //for particles
  p {
    text-align: center;
  }
  canvas {
    position: absolute;
    height: 400px !important; //for particles
    top: 0;
    z-index: -1;
    background: #e9ecef;
  }
}
.page-template-page-full {
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}
.stats {
  .stats__stat {
    min-height: 200px;
    display: flex;
    align-items: center;
    .stat__glyph {
      flex-basis: 30%;
      & > * {
        font-size: 70px;
      }
    }
    .stat__description {
      flex-basis: 70%;
      p {
        font-weight: bold;
      }
    }
    & + .stats__stat {
      border-top: 10px solid black;
    }
  }
}
.section-header {
  text-align: center;
  padding: 20px 0px 20px 0px;
  border-top: 10px solid black;
}
